@using Microsoft.Owin.Security
@model dynamic

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<div class="row">
@{
	AuthenticationDescription[] providers = 
		Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToArray();
		
	if (providers.Length > 0)
	{
		using (Html.BeginForm("External", "Login", new {ViewBag.ReturnUrl }))
		{
			@Html.AntiForgeryToken()
	
			foreach (AuthenticationDescription p in providers)
			{
				<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
			}
		}
	}
}

</div>