@using Microsoft.Owin.Security
@model dynamic

@{
    ViewBag.Title = "Sign in";
}

<div class="row text-center login">
@{
	AuthenticationDescription[] providers = 
		Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToArray();
		
	if (providers.Length > 0)
	{
		using (Html.BeginForm("External", "Login", new {ViewBag.ReturnUrl }))
		{
			@Html.AntiForgeryToken()
	
			foreach (AuthenticationDescription p in providers)
			{
				<button type="submit" class="btn btn-lg btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Sign in using your @p.Caption account">
					<span class="glyphicon glyphicon-hand-right"></span> Sign in with @p.AuthenticationType
				</button>
			}
		}
	}
}

</div>